<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load assets %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>The Back to School Challenge</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="{% static 'main/site/img/favicon.png' %}" rel="icon">
    <link href="{% static 'main/site/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'main/site/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/site/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/site/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'main/site/vendor/dialog/dialog.css' %}" rel="stylesheet">
    <link href="{% static 'main/site/vendor/imgbutton/imgbutton.css' %}" rel="stylesheet">
    <link href="{% static 'main/site/vendor/flatpickr/flatpickr_material_blue.css' %}" rel="stylesheet">
    <link href="{% static_reload 'main/site/css/site.css' %}" rel="stylesheet">
	<link href="{% static_reload 'maven/maven-charcoal.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'main/site/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/site/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
	{% block head-css-link %}{% endblock %}
	<script>"use strict"; var IS_ADMIN = false;</script>
	<script>var SITE_DEBUG = {% site_debug %};</script>
	<script>var HTTP_STATIC_URL = "{% http_static_url %}";</script>
	<script>var HTTP_MEDIA_URL = "{% http_media_url %}";</script>
	<script>var HTTP_LOGOUT_URL = "{% url 'team-logout' %}";</script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'main/site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/site/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'main/site/vendor/jquery.timeago/jquery.timeago.js' %}"></script>
    <script src="{% static 'main/site/vendor/jquery.waypoints/jquery.waypoints.js' %}"></script>
    <script src="{% static 'main/site/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'main/site/vendor/fontawesome/all.js' %}"></script>
    <script src="{% static 'main/site/vendor/moment/moment.min.js' %}"></script>
    <script src="{% static_reload 'main/site/vendor/imgbutton/imgbutton.js' %}"></script>
    <script src="{% static_reload 'main/site/vendor/dialog/dialog.js' %}"></script>
    <script src="{% static 'main/site/vendor/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static_reload 'main/site/js/site.js' %}"></script>
    <!-- <script src="{% static_reload 'maven/maven-1.2.js' %}"></script> -->
	<script src="{% static 'main/site/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
	{% block head-script-link %}{% endblock %}
	{% block head-script %}{% endblock %}
	{% block head-styles %}{% endblock %}</head>
<body>

    <div class="overlay"></div>
    <a name="home"></a>
    <nav id="site-navbar" class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark" style="border-bottom: 2px solid #ccc;">
        <div class="container-xl">

            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="width: 25vw; min-width: 120px; max-width: 150px; height: auto; margin-left: -5px" src="{% static 'main/img/MainLogo1.png' %}">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-navbar"
                aria-controls="page-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="page-navbar">
                <ul class="navbar-nav ml-auto">
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
					{% if not request.session.team.access %}
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="{% url 'team-login' %}">Login</a>
                    </li>
					{% endif %}
					{% if request.session.team.access %}
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="{% url 'challenges' %}">Let's Play!</a>
                    </li>
					{% endif %}
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="{% url 'results' %}">Results</a>
                    </li>
					{% if request.session.team.access %}
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="javascript:logOut();">Logout</a>
                    </li>
					{% endif %}
                    <li id="nav-item-home" class="nav-item nav-item-section">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
	{% if name == 'home' %}
	<section id="hero"></section>
    <div id="title">
	The<br>Red Rock<br>Elementary<br>Amazing Race<br>Escape Room<br>Scavenger Hunt<br>Rabies Awareness<br>Fun Run<br>Race for the Cure<br>Back to School<br>Challenge<br>2025
    </div>
	<!-- TOIBuNeDARERSHRAFRuRaCCC 2021 -->
    <div style="position: absolute; top: 100px; width: 100%; left: 5px; right: 5px; margin-left: auto; margin-right: auto; padding: 0 20px;">
	{% include 'main/inc/messages.html' %}
    </div>
	{% else %}
    <div id="content">
	{% include 'main/inc/messages.html' %}
    {% block content %}{% endblock %}
    <div style="height: 200px;"></div>
	</div>
	{% endif %}
    <script>
	$(document).ready(

    function () {

		// When you start to scroll down, hide the bottom button bar.  Subsequently, when you scroll
		// all the way to the top, show the bottom button bar.
        let notYetScrolled = true;
        function scrollListener() {
			if ($(document).scrollTop() > 1) 
			{
				$(`#BottomButtonBar`).slideUp(500);
				notYetScrolled = false;
			} 
			else 
			{
				if (!notYetScrolled) $(`#BottomButtonBar`).slideDown(500);
			}
        };
        $(document).scroll(scrollListener);
        scrollListener();
	});
	</script>
    {% block post-script %}{% endblock %}
	{% include 'main/inc/post-script.html' %}

</body>