{% extends "main/base.html" %}
{% load maven %}
{% load static %}
{% load assets %}
{% load crispy_forms_tags %}

{% block content %}
<style>
.title {font-weight: 700 !important; font-size: 24px !important; margin-bottom: 0px !important; color: #9d0e0e;}
.message {font-weight: 500 !important; font-size: 18px !important; margin-top: 0px !important; margin-bottom: 0px !important; color: #9d0e0e;}
</style>
<div class="title"><i class="fas fa-exclamation-triangle"></i> {{ title|safe }}</div>
<div class="message">{{ message|safe }}</div>
{% endblock content %}





